@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Zen+Kaku+Gothic+Antique&display=swap');
@import './remixicon/remixicon.css';
@import './components/nav/nav.css';

html {
    font-size: 62.5%;
    color: #030303;
}

body{ 
    margin: 0;
    background-color: #ffffff;
    /* background-color: rgba(96,9,121,1); */
}


main {
    display: block;
    margin: 10vh auto;
}

body { 
    font-size: 1.4rem; 
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

h1 { font-size: 10rem; margin: 0; }
h2 { font-size: 4rem; }
h1, h2 { font-family: 'Archivo Black', cursive; }
a { color: #050505; }
a:hover { color: rgb(233, 140, 0); }

main p {
    font-size: 1.8rem;
    padding-bottom: 10px;
    
}

.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1rem;
}

@media all and (max-width: 650px) {
    h1 { font-size: 6rem; }
    h2 { font-size: 3rem; }
}


.animate__animated.animate__fadeIn { --animate-duration: 3s; }
