@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Zen+Kaku+Gothic+Antique&display=swap');
@import './remixicon/remixicon.css';
@import './components/nav/nav.css';

html {
    font-size: 62.5%;
    color: #030303;
}

body{ 
    margin: 0;
    background-color: #ffffff;
    /* background-color: rgba(96,9,121,1); */
}


main {
    display: block;
    margin: 10vh auto;
}

body { 
    font-size: 1.4rem; 
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

h1 { font-size: 10rem; margin: 0; }
h2 { font-size: 4rem; }
h1, h2 { font-family: 'Archivo Black', cursive; }
a { color: #050505; }
a:hover { color: #c68646; }

main p {
    font-size: 1.8rem;
    padding-bottom: 10px;
    
}

.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1rem;
}

@media screen and (max-width: 650px) {
    h1 { font-size: 6rem; }
    h2 { font-size: 3rem; }
}

footer {
    background-color: #f0f0f0; 
    height: 10vh;
    width: 100vw;
    
    & .contact {
        width: 90vw;
        display: block;
        margin: 0 auto;
        padding: 2vh;
   
        & .social {
            line-height: 0.5;
            display: inline-block;
            height: 25px;
            width: 25px;
            margin: 5px;
            & img {
                height: inherit;
                width: inherit;
            }
        }
    }
   
     
}

.animate__animated.animate__fadeIn { --animate-duration: 3s; }
