@import '../../css/base.css';

.gallery > img {
    width: 100%;
}

@media all and (min-width: 810px) {
    .job {
        
        position: relative;
        width: 100vw;
        min-height: 200vh;
        display: block;
    }

    .gallery {
        display: inline-block;
        width: 30%;
        height: auto;
        top: 0; 
        position: relative; 
    }
    .desc {
        display: block;
        width: 25%;
        /*display: inline-block;*/
        position: sticky;
        float: left;
        top: 70px;
        padding: 0 30px;
    }
} 
