@import '../css/base.css';

body {
    margin: 0;
}

.work {
    width: 90vw; 
    display: block;
    margin: 100px auto;    
}

.editorial {

    padding: 20px 0;    

    & a { text-decoration: none; }
    & .link {
        font-size: 2rem;
        padding-bottom: 10px;
    }
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;  
}

.grid-item {
    background-color: orange;
    height: 30vw;
    width: 30vw;
}

.grid-item-title {
    height: auto;
    width: inherit;
    text-transform: uppercase; 
    padding-bottom: 20px;     
    text-align: center;
    position: absolute;
    bottom: 0;
    font-size: 3rem;
}

.grid-item a {
    position: absolute;
    height: inherit;
    width: inherit;

    /*visibility: hidden;*/
    z-index: 1;
    background: rgba(255,255,255, 0.5);
}

/*.grid-item a::hover {
    visibility: visible;
}*/

.grid-item img {
    position: relative;
    z-index: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
}
